.title {
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  color: var(--font-light);
  right: 50%;
  top: 30%;
}

.wrapper {
  display: flex;
  flex-shrink: 1;
  cursor: pointer;
}

.card {
  position: relative;
}
