:root {
  --font-family: "Axiforma", sans-serif;
  --second-family: "SF Pro Text", sans-serif;
  --bg-dark: #18181b;
  --bg-light: #ebebeb;
  --font-light: #ebebeb;
  --font-dark: #18181b;
  --accent-color-blue: #19A1BE;
  --accent-color-purpule: #7D4192;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

html,
body {
  background-color: var(--bg-dark);
  max-width: 100vw;
  overflow-x: hidden;

}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}