.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-top: 32px;
}

.main {
  margin-top: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
