.heading {
  font-family: var(--font-family);
  color: var(--font-light);
}

.large {
  font-weight: 700;
  font-size: 32px;
}

.medium {
  font-weight: 400;
  font-size: 16px;
}

.small {
  font-weight: 400;
  font-size: 14px
}




